<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package
      id="CBT.NuGet"
      version="1.0.3-beta"
      />

  <package
      id="CBT.Microsoft.Common.targets"
      version="1.0.0"
      />

  <package
    id="CBT.Traversal"
    version="1.0.1"
      />
    
  <package
    id="CBT.AssemblyInfo"
    version="1.0.2-beta"
      />

</packages>